header {
		width:100%;
		border: 1px solid grey;
		background: URL('../Images/sandshadow.jpg');
		background-size:100%;
		height:150px;
		text-align:center;
		filter:blur(3px);
		z-index:-2;
}

/* text on the banner */
.texthead {
		position:absolute;
		top:0;
		left:36%;
		z-index:2;
		text-shadow: 3px 3px 10px #FFF9DC;
}
/* picture on the homepage */
#profpic {
		width:500px;
		//opacity: 0.5;
}
/* navigation bar */
.navpanel {
		font-size:25px;
		list-style-type: none;
		height: 60px;
		margin: 0;
		padding:0
		overflow:hidden;
		//margin-left: 25%;
}
.navpanel li {
	float: left;
}
li .active{
	background-color:  #b3fff0;
}

li a{
	color:White;
	text-decoration:none;
	//background-color:grey;
	padding: 15px;
	display:inline-block;
	border-radius: 15px
}

a:hover:not(.active) {
	color:grey;
	background-color:#FFF9DC;
	font-size:28px;
}

nav{
		width:100%;
		border: 1px solid black;
		background-color: black;
		color:white;
		text-align:center;
		position:-webkit-sticky; /* safari browser */
		position: sticky;
		top:0;
}
/*navigation bar projects */
.dropdown {
  position: relative;

}
.dropdown-content {
	display: none;
	position:absolute;
	min-width:100px
	z-index:1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropbutton {
	cursor: pointer;
}

.orderedlist {
		text-align:left;
}

/*projects page*/
#listtitle {
		text-align: left;
}
/* on history page */
table {
	width:50%;
		text-align:center;
		border:1px solid black;
		margin-left:30%;
}

#topcell {
		background-color:white;
		color: black;
		text-align:center;
}

#middlecell {
		background-color:black;
		color: white;
		text-align:center;
}

#bottomcell {
		background-color:white;
		color: black;
		text-align:center;
}

main{
		width:100%;
		border: 1px solid black;
		background-color: #FFF9DC;
		height:1200px;
		color:#342E09;
		text-align:center;
}
/* on the home page*/
#shoe {
 transform:rotate(90deg);
 //animation: move 6s forwards 1s alternate;
 position: relative;
 animation: move 1s linear infinite alternate;
}
@keyframes move {
	from {top: 0px;}
	to {left: 100px;}
}
/*homepage */
.animated{
	background-color: brown;
	height:30px;
	width: 70px;
	border-radius: 40px;
	position: relative;
	animation: shape 6s linear 1s infinite alternate;

}

@keyframes shape {
	0% {background-color: brown;left: 0px; top: 0px;}
	25% {background-color: yellow;left: 100px; top: 50px;}
	50% {background-color: White;left: 200px; top: 100px;}
	100% {background-color: brown;left: 200px; top: 0px;}
}

footer{
		width:100%;
		border: 1px solid black;
		background-color: black;
		color:white;
		height:50px;
		text-align:right;
}
/* navigation changes from horizontal to vertical when screen
size  goes under 600px */
@media screen and (max-width: 600px){
	ul.navpanel li a{
		display: block;
		height: auto;
		min-width: 100px;

	}
	ul.navpanel li{
		float: none;
	}
	.navpanel{
		height: auto;
	}

}
